<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FastAPI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\zekir\AppData\Local\Programs\Python\Python311\python.exe|C:\Program Files\Python38\uvicorn\uvicorn.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
